* {
    margin: 0;
    padding: 0;
}

#hero {
    padding: 40px;
    background: #dfefff;
}

.course {
    border: 1px solid #000;
    padding: 20px;
    margin: 15px;
    width: 200px;
    display: inline-block;
    box-sizing: border-box;
}

.course > h3 {
    color: navy;
}

h3 + p {
    color: gray;
}

a:hover {
    color: red;
}

li:first-child {
    background-color: #e6ffe6;
}
